/* Mobile First Layout */
.header {
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  position: relative;
  text-align: center;
}

h1,
f h2,
h3,
h4,
h5 {
  color: var(--text-color-light);
}

.header a {
  color: inherit;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.header a img {
  color: var(--primary-one);
  border-radius: 50%;
  border: var(--border-width) solid var(--primary-one);
}

.content {
  width: 65%;
  padding: 3rem;
}

section {
  padding: 3rem 0;
}

section + section {
  border-top: 1px solid var(--base-five);
  -top: 6rem;
}

/* Desktop Layout */
@media only screen and (min-width: 767px) {
  .header {
    position: fixed;
    text-align: right;
    height: 100vh;
    width: 35%;
  }

  .content {
    margin-left: 35%;
    width: 65%;
  }
}
