/* Mobile First Layout */
.header {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  position: relative;
  text-align: center;
  text-shadow: var(--text-shadow-dark);

  background-color: var(--black);
  background-attachment: scroll;
  background-image: linear-gradient(
      to bottom,
      rgba(22, 76, 105, 0.9),
      rgba(13, 45, 62, 0.9)
    ),
    url(../images/ministrygrid-mockup.jpg);
  background-position-x: center, -117vw;
  background-repeat: repeat, no-repeat;
  background-size: cover;
}

.header h1 {
  color: #fff;
  font-size: 1.5em;
}

.header h2,
.header h4 {
  color: #c4d3dc;
  font-size: 1.3em;
}

.header i {
  color: var(--primary-one);
}

.footer a {
  color: #c4d3dc;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.header a:hover,
.header a:focus {
  color: #f5f8fa;
}

.header a div {
  margin-top: 1em;
}

.header a div img {
  color: var(--primary-one);
  border-radius: 2px;
  border: 10px solid #fff;
  border-bottom-width: 64px;
}

.header a div:after {
  position: absolute;
  bottom: 16px;
  left: 10px;
  content: "Todd";
  font-family: "Vujahday Script", cursive;
  font-size: 26px;
  color: #222;
}

.footer {
  color: #c4d3dc;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  padding: 0;
}

.content {
  padding: 0 1em;
}

.content ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  margin: 0;
}

.content li {
  padding: 0.5em 1em;
  border: 1px solid var(--base-four);
  background: var(--base-five);
  margin: 0 0.5em 0.5em 0;
  border-radius: var(--border-radius);
}

.content li:last-child {
  display: none;
}

section {
  padding: 3rem 0;
}

section + section {
  margin-top: -3rem;
}

footer {
  background: var(--base-five);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 2em 1em;
}

/* Desktop Layout */
@media only screen and (min-width: 767px) {
  .header {
    position: fixed;
    text-align: right;
    height: calc(var(--vh, 1vh) * 100);
    width: 35%;
    background-position-x: center, -31vw;
  }

  .header a div {
    margin-top: 0;
  }

  .footer ul {
    justify-content: flex-end;
  }

  .content,
  footer {
    padding: 3rem;
    margin-left: 35%;
    width: 65%;
    max-width: 80ch;
  }

  .content li:last-child {
    display: inline-block;
    flex: 1;
    opacity: 0.3;
    align-self: stretch;
  }

  footer {
    max-width: none;
  }

  footer > * {
    max-width: 75ch;
  }
}
